Repository ligue-des-alternants/ligue-des-alternants: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro}": ["eslint --cache --fix", "prettier --write --cache"],
  "*.{json,md,css}": ["prettier --write --cache"]
}

chore: add git hooks with husky, lint-staged and commitlint
  .github/COMMIT_CONVENTIONS.md
  README.md
  commitlint.config.js
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
Due: eslint --cache --fix, prettier --write --cache

feat: add navbar
  package.json
  pnpm-lock.yaml
  public/logo.png
  src/components/react/navbar/header.tsx
  src/components/react/navbar/mobile-menu.tsx
  src/components/react/navbar/navigation.ts
  src/layouts/main-layout.astro
  src/pages/index.astro
Due: eslint --cache --fix, prettier --write --cache

chore: add import organization with Trivago plugin
  .prettierrc.json
  .vscode/settings.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/react/navbar/header.tsx
  src/components/react/navbar/mobile-menu.tsx
  src/lib/utils.ts
Due: eslint --cache --fix, prettier --write --cache

feat: add TypeScript support for Astro files and refactor footer component
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/astro/features-section/features-header.astro
  src/components/astro/features-section/index.astro
  src/components/astro/footer/data.ts
  src/components/astro/footer/icons/icon-props.ts
  src/components/astro/footer/icons/instagram-icon.astro
  src/components/astro/footer/icons/tiktok-icon.astro
  src/components/astro/footer/icons/x-icon.astro
  src/components/astro/footer/index.astro
  src/components/astro/head.astro
  src/components/astro/hero/hero-badges.astro
  src/components/astro/news-section/news-header.astro
  src/components/react/footer/index.tsx
  src/components/react/icons/instagram-icon.tsx
  src/components/react/icons/tiktok-icon.tsx
  src/components/react/icons/x-icon.tsx
  src/components/react/navbar/data.ts
  src/components/react/navbar/header.tsx
  src/components/react/navbar/mobile-menu.tsx
  src/layouts/main-layout.astro
Due: eslint --cache --fix, prettier --write --cache

feat: add about page
  src/components/astro/about/about-association.astro
  src/components/astro/about/join-section.astro
  src/components/astro/about/objectives-list.astro
  src/components/astro/background.astro
  src/components/astro/head.astro
  src/components/astro/hero/hero-content.astro
  src/components/astro/news-section/news-header.astro
  src/components/react/navbar/data.ts
  src/pages/a-propos.astro
Due: eslint --cache --fix, prettier --write --cache

feat: add rights & responsibilities page and update navigation
  src/components/astro/about/join-section.astro
  src/components/astro/about/objectives-list.astro
  src/components/react/navbar/data.ts
  src/pages/nos-droits-et-devoirs-en-alternance.astro
Due: eslint --cache --fix, prettier --write --cache

fix: pass currentPath prop to Header and update NavItems component
  src/components/react/navbar/header.tsx
  src/layouts/main-layout.astro
Due: eslint --cache --fix, prettier --write --cache

feat: refactor page sections
  src/components/astro/about/about-association.astro
  src/components/astro/about/join-section.astro
  src/components/astro/about/objectives-list.astro
  src/components/astro/features-section/feature-item-list.astro
  src/components/astro/features-section/index.astro
  src/components/astro/hero/hero-content.astro
  src/components/astro/hero/index.astro
  src/components/astro/news-section/index.astro
  src/components/astro/news-section/news-list.astro
  src/components/astro/our-rights-and-responsibilities/header.astro
  src/components/astro/our-rights-and-responsibilities/ressources-list.astro
  src/components/astro/ui/card-section.astro
  src/components/astro/ui/item-list/index.astro
  src/components/astro/ui/item-list/item.astro
  src/components/astro/ui/item-list/types.ts
  src/components/astro/ui/section.astro
  src/data/contacts.ts
  src/data/index.ts
  src/data/responsibilities.ts
  src/data/rights.ts
  src/layouts/background.astro
  src/layouts/head.astro
  src/layouts/main-layout.astro
  src/pages/404.astro
  src/pages/a-propos.astro
  src/pages/nos-droits-et-devoirs-en-alternance.astro
  src/styles/global.css
Due: eslint --cache --fix, prettier --write --cache

style: update link styles
  src/components/astro/hero/hero-content.astro
  src/components/astro/news-section/index.astro
  src/styles/global.css
Due: eslint --cache --fix, prettier --write --cache

feat: add 'Rédiger son CV' page
  src/components/react/navbar/data.ts
  src/pages/comment-rediger-son-cv.astro
Due: eslint --cache --fix, prettier --write --cache

feat: add 'write your resume' page
  src/components/astro/our-rights-and-responsibilities/header.astro
  src/components/astro/ui/item-list/item.astro
  src/components/astro/ui/item-list/types.ts
  src/components/astro/ui/page-header.astro
  src/data/cv-advices.ts
  src/data/essential-sections.ts
  src/data/extra-tips.ts
  src/data/index.ts
  src/data/tools.ts
  src/pages/comment-rediger-son-cv.astro
  src/pages/nos-droits-et-devoirs-en-alternance.astro
Due: eslint --cache --fix, prettier --write --cache

feat: add 'Taxe d\'apprentissage' page to navigation and create corresponding content
  src/components/react/navbar/data.ts
  src/pages/taxe-apprentissage.astro
Due: eslint --cache --fix, prettier --write --cache

feat: add 'Rejoindre la Ligue' page
  src/components/react/navbar/data.ts
  src/data/index.ts
  src/data/share-items.ts
  src/pages/rejoindre-la-ligue.astro
Due: eslint --cache --fix, prettier --write --cache

chore: add initial project structure with Astro frontend and Strapi backend
  .github/workflows/ci.yml
  .lintstagedrc.json
  .prettierignore
  README.md
  apps/frontend/.prettierignore
  apps/frontend/eslint.config.mjs
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/pnpm-workspace.yaml
  apps/frontend/tsconfig.json
  package.json
  packages/README.md
  packages/eslint-config/README.md
  packages/eslint-config/base.mjs
  packages/eslint-config/node.mjs
  packages/eslint-config/package.json
  packages/eslint-config/react.mjs
  packages/prettier-config/README.md
  packages/prettier-config/index.json
  packages/prettier-config/package.json
  packages/typescript-config/README.md
  packages/typescript-config/base.json
  packages/typescript-config/node.json
  packages/typescript-config/package.json
  packages/typescript-config/react.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --cache

fix: add missing start script for server in package.json
  package.json
Due: prettier --write --cache

fix: update script references in package.json to include namespace
  package.json
Due: prettier --write --cache

fix: refactor postgres connection configuration for clarity and maintainability
  apps/server/config/database.ts
Due: eslint --cache --fix, prettier --write --cache

feat: add VPS deployment infrastructure
  .dockerignore
  .env.example
  .env.production.example
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README.md
  apps/frontend/Dockerfile
  apps/frontend/Dockerfile.dev
  apps/server/Dockerfile
  apps/server/Dockerfile.dev
  apps/server/src/index.ts
  docker-compose.prod.yml
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/GUIDE_CMS.md
  nginx/conf.d/.gitkeep
  nginx/frontend.conf
  nginx/nginx.conf
  scripts/backup.sh
  scripts/generate-secrets.sh
  scripts/restore.sh
  scripts/setup-ssl.sh
  scripts/setup-vps.sh
Due: eslint --cache --fix, prettier --write --cache

fix: add fallback for STRAPI_URL in CI
  .github/workflows/ci.yml
Due: none

fix: use pre-built images in production docker-compose
  docker-compose.prod.yml
Due: none

fix: use .env.production file in docker compose commands
  .github/workflows/deploy.yml
Due: none

fix: use scp instead of rsync for deployment files
  .github/workflows/deploy.yml
Due: none

fix: correct Strapi Dockerfile node_modules path
  apps/server/Dockerfile
Due: none

fix: rewrite Strapi Dockerfile to install deps in production stage
  apps/server/Dockerfile
Due: none

fix: remove frozen-lockfile for standalone Strapi install
  apps/server/Dockerfile
Due: none

fix: use npm and strip devDependencies for production Strapi build
  apps/server/Dockerfile
Due: none

fix: use JSON.parse instead of require for package.json
  apps/server/Dockerfile
Due: none

fix: create standalone tsconfig.json without workspace refs
  apps/server/Dockerfile
Due: none

fix: add database/migrations directory with correct permissions
  apps/server/Dockerfile
Due: none

fix: remove .cache copy that doesn't exist in build stage
  apps/server/Dockerfile
Due: none

feat: enable HTTPS with Let's Encrypt SSL
  nginx/nginx.conf
Due: none
